/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1
{
    font-family: 'Shrikhand', sans-serif;
    text-align: center;
    padding-top: 15px;
}
h2
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    font-weight: 600;
}
/* HEADER */
.logo
{
    
}
.place
{
    height: 50px;
    width: 100%;
    background-color: #eaeaea;
}
.place2
{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.place i
{
    padding-top: 15px;
    padding-right: 3px;
}

/* SECTION 1 - RESERVATION */
#reservation
{
    background-color: #f6f6f6;
}
#reservation h3
{
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 44px;
    font-size: 18px;
}
#reservation p
{
    font-size: 16px;
    text-align: center;
    padding-top: 24px;
}
