/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}
/* HEADER */
header
{
    background-color: #fff;
    height: 63px;
    box-shadow: 5px #fff
}
header img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 22px;
}