/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1
{
    font-family: 'Shrikhand', sans-serif;
    text-align: center;
    padding-top: 15px;
}
h2
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    font-weight: 600;
}


/* HEADER */
header
{
    box-shadow: 0 0 0.5rem #000;
}
.place
{
    height: 50px;
    width: 100%;
    background-color: #eaeaea;
}
.place2
{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.place i
{
    padding-top: 15px;
    padding-right: 3px;
}

/* SECTION 1 - RESERVATION */
#reservation
{
    background-color: #f6f6f6;
}
#reservation h3
{
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 44px;
    font-size: 18px;
}
#reservation p
{
    font-size: 16px;
    text-align: center;
    padding-top: 24px;
}
.exploration
{
    width: 218px;
    height: 50px;
    margin: 35px auto 57px auto;
    display: flex;
    justify-content: center;
    background-color: #bf64db;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding-top: 14px;
    font-weight: 500;
}
.exploration:hover
{
    cursor: pointer;
}
